USE [master]
GO
/****** Object:  Database [EMS]    Script Date: 2020/5/16 13:48:33 ******/
CREATE DATABASE [EMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMS]
GO
/****** Object:  Table [dbo].[acnt]    Script Date: 2020/5/16 13:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acnt](
	[msg_num] [varchar](50) NOT NULL,
	[acnt_pwd] [varchar](50) NOT NULL,
	[acnt_times] [int] NOT NULL,
	[acnt_updatetimes] [int] NULL,
 CONSTRAINT [PK_acnt] PRIMARY KEY CLUSTERED 
(
	[msg_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 2020/5/16 13:48:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[adminacnt] [nchar](10) NOT NULL,
	[adminpwd] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[msg]    Script Date: 2020/5/16 13:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[msg](
	[msg_num] [varchar](50) NOT NULL,
	[msg_name] [varchar](20) NOT NULL,
	[msg_sex] [char](2) NOT NULL,
	[msg_birth] [date] NULL,
	[msg_native] [varchar](10) NULL,
	[msg_edu] [char](4) NOT NULL,
	[msg_add] [varchar](30) NULL,
	[msg_tel] [varchar](15) NULL,
	[msg_year] [int] NULL,
	[msg_sa] [int] NULL,
 CONSTRAINT [PK_msg] PRIMARY KEY CLUSTERED 
(
	[msg_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[acnt] ADD  CONSTRAINT [DF_acnt_acnt_pwd]  DEFAULT ('1') FOR [acnt_pwd]
GO
ALTER TABLE [dbo].[acnt] ADD  CONSTRAINT [DF_acnt_acnt_times]  DEFAULT ((1)) FOR [acnt_times]
GO
ALTER TABLE [dbo].[acnt] ADD  CONSTRAINT [DF_acnt_acnt_updatetimes]  DEFAULT ((0)) FOR [acnt_updatetimes]
GO
ALTER TABLE [dbo].[msg]  WITH CHECK ADD  CONSTRAINT [FK_msg_acnt] FOREIGN KEY([msg_num])
REFERENCES [dbo].[acnt] ([msg_num])
GO
ALTER TABLE [dbo].[msg] CHECK CONSTRAINT [FK_msg_acnt]
GO
ALTER TABLE [dbo].[msg]  WITH CHECK ADD  CONSTRAINT [CK__msg__msg_edu__38996AB5] CHECK  (([msg_edu]='本科' OR [msg_edu]='小学' OR [msg_edu]='中学' OR [msg_edu]='其他' OR [msg_edu]='专科' OR [msg_edu]='硕士' OR [msg_edu]='博士'))
GO
ALTER TABLE [dbo].[msg] CHECK CONSTRAINT [CK__msg__msg_edu__38996AB5]
GO
ALTER TABLE [dbo].[msg]  WITH CHECK ADD  CONSTRAINT [CK__msg__msg_sex__37A5467C] CHECK  (([msg_sex]='男' OR [msg_sex]='女'))
GO
ALTER TABLE [dbo].[msg] CHECK CONSTRAINT [CK__msg__msg_sex__37A5467C]
GO
USE [master]
GO
